NODE_ENV='des'
PORT_DEFAULT=3055
NAME_PROYECT='micro_interoperabilidad'
DETAIL_PROYECT='Microservicio read-only de interoperabilidad RENAGRO sobre PostgreSQL'
VERSION=1.7
# --- Conexion PostgreSQL (solicitar credenciales al equipo MAG) ---
HOST_DATABASE='<host_base_de_datos>'
PORT_DATABASE=5432
USER_DATABASE='<usuario_bd>'
PASS_DATABASE='<password_bd>'
NAME_DATABASE='<nombre_bd>'
SCHEMA_DATABASE='sc_interop_renagro_magp'
RETRYDELAY_DATABASE=3000
RETRYATTEMPTS_DATABASE=10
# --- Swagger ---
HOST_SWAGGER='http://localhost:3055'
DETAIL_SWAGGER='Servidor de desarrollo'
# --- Seguridad: API key del header X-API-KEY (solicitar al equipo MAG) ---
API_KEY='<api_key>'
